body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #4da0ff;
    height: 200px;
}

.booleaner_color {
    color: #1faae5;
}

.head_text_color {
    color: grey;
}

.photo_caption {
    font-size: 75%;
}

.article {
    font-weight: 500;
    font-size: 20px;
}

#highlight_text {
    background-color: yellow;
}

ul {
    padding-left: 20px;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.colored_table_row {
    background-color: #b1e5f2;
}

#footer_text {
    color: grey;
    padding-top: 20px;
}

.footer_image_text {
    color: white;
    background-size: cover;
    width: 312px;
    height: 208px;
    padding-left: 10px;
    padding-top: 15px;
}

#foot1 {
    background-image: url(../img/monitor.jpg);
}

#foot2 {
    background-image: url(../img/graph.jpg);
}